@import url('bootstrap.css');
@import url('utilities.css');
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary-color: #4730CC;
  --secondary-color: #20107D;
  --third-color: #FC5A5F;
  --black-color: #373737;
  --green-color: #C3BB2E;
  --green-100-color: #838E99;
  --green-900-color: #1F333A;
  --gray-color: #747474;
  --gray-100-color: #F1F4F6;
  --gray-200-color: #CAD3DC;
  --gray-hover-color: #7C8D99;
  --prefooter-background: #364651;
  --postfooter-background: #222324;
  --gold-color: #96902D;
  --gold-100-color: #D0CA64;
  --white-color: #fff;
  --open-font: 'Open Sans', sans-serif;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--open-font);
  width: 100%;
  overflow-x: hidden;
}

.logo {
  display: block;
  margin: auto;
  width: 166px;
  height: 80px;
}

p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--gray-color);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 15px;
  z-index: 2;
  transition: all 0.5s ease;
}

header .navbar ul {
  margin-top: 35px;
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 22px;

}

header .navbar ul a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 15px;

}

header .navbar ul a:hover {
  color: var(--gray-hover-color);
}

header .logo {
  margin-top: 5px;
}

header .information {
  display: flex;
  float: right;
  gap: 22px;
  align-items: center;
  margin-top: 25px;
}

header .phones i {
  color: var(--green-color);
  font-size: 13px;
}

header .phones a {
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: var(--white-color);
}

header .phones a span {
  color: var(--green-color);
}

header .phones :nth-child(2) {
  margin-right: 20px;
}

header .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 87px;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--white-color);
  background: var(--gold-color);
  border-radius: 30px;
  font-weight: 600;
}

.languages a,
.languages span {
  font-size: 13px;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
}

.languages a:hover {
  color: var(--gray-hover-color);
}

header.dark {
  position: sticky;
  background: var(--prefooter-background);
  padding-bottom: 5px;
}

.whatsapp {
  position: absolute;
  top: 109px;
  right: 25px;
  z-index: 1;

}

.whatsapp span {
  background: rgb(0 198 79);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

.whatsapp a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: rgb(0 198 79);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;

}

.whatsapp a i {
  font-size: 40px;
  color: var(--white-color);
}


.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite
}


.hero {
  height: 748px;
  background: url('../img/hero.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.hero:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: absolute;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  z-index: 0;
}

.hero_description {
  z-index: 1;
}

.hero_description p {
  color: var(--white-color);
  text-align: center;
  font-size: 20px;
}

.hero_description p.letter_spacing {
  letter-spacing: 3.25px;
}

.hero_description h1 {
  font-size: 60px;
  line-height: 1.1;
  color: var(--white-color);
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 13px;
}

.hero_description h1 strong {
  color: var(--green-color);
  display: block;
}

.hero_description .btn {
  border-radius: 30px;
  border: 1px solid var(--green-color);
  color: var(--white-color);
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
  padding: 11px 16px;
  text-decoration: none;
  width: 140px;
}

footer .prefooter {
  background: var(--prefooter-background);
  padding: 50px 30px 40px;
}

footer .prefooter h3 {
  color: var(--gray-hover-color);
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}

footer .prefooter ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  color: var(--white-color);
  font-weight: 600;
  line-height: 2.56;
}

footer .prefooter .downloads {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 3px;
  align-items: baseline;
}

footer .prefooter .linkedin {
  font-size: 22px;
}

footer .prefooter a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
  line-height: 2.5;
}

footer .postfooter {
  background: var(--postfooter-background);
  padding: 12px 30px 20px;
}

footer p {
  font-size: 13px;
  font-weight: 600;
  line-height: 2.56;
  color: var(--white-color);
  margin-bottom: 0;
}

footer .information_footer {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
}

footer .information_footer span,
footer .information_footer a {
  color: var(--white-color);
  font-size: 13px;
  font-weight: bold;
}

footer .information_footer a {
  text-decoration: none;
}

footer .information_footer a .btn {
  border-radius: 30px;
  font-size: 14px;
  background: var(--gold-color);
  padding: 11px 16px;
}

.services {
  width: 72%;
  position: absolute;
  bottom: -85px;
  height: 170px;
  overflow: hidden;
  background: var(--gray-100-color);
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(3, 1fr);

}

.services .service {
  border-right: 2px solid var(--gray-200-color);
  transition: all ease 0.5s;
  cursor: pointer;
}

.services .service a {
  text-decoration: none;
  padding: 42px 40px;
  display: block;
}

.services .service .service_title {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.services .service .service_title h4 {
  color: var(--prefooter-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0;
}

.services .service:hover {
  background: var(--green-900-color);
  color: var(--white-color);
}

.services .service:last-child {
  border-right: none;
}

.benefits {
  padding-top: 165px;
  text-align: center;
  padding-bottom: 80px;
}

.benefits h3 {
  color: var(--green-100-color);
  font-size: 25px;
  font-weight: 700;
}

.benefits p {
  letter-spacing: -.5px;
}

.benefits .benefits_subtitle {
  margin-bottom: 22px;
}

.benefits .benefits_description {
  line-height: 1.7;
}

.benefits .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 147px;
  height: 41px;
  display: block;
  text-decoration: none;
  border: 1px solid var(--prefooter-background);
  color: var(--prefooter-background);
  border-radius: 30px;
  font-weight: 600;
  margin: 28px auto 0;
}

.paila {
  background: var(--gray-100-color);
  padding-top: 100px;
  padding-bottom: 120px;
}

.paila .paila_description {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  line-height: 1.65;
}

.paila .paila_details {
  text-align: center;

}

.paila .paila_details h4 {
  color: var(--green-100-color);
  font-size: 31px;
  font-weight: 700;
}

.paila .paila_img {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 45px;
  margin-top: 50px;
}

.process {
  background: url('../img/bgproceso.jpg') no-repeat center;
  background-size: cover;
  height: 810px;
  padding-top: 125px;
  padding-bottom: 155px;
  text-align: center;
}

.process h4 {
  color: var(--gold-100-color);
  font-size: 25px;
  font-weight: 700;
}

.process .process_description {
  color: var(--white-color);
  font-size: 15px;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 55px;
}

.process .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 209px;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--white-color);
  background: var(--gold-color);
  border-radius: 30px;
  font-weight: 600;
}

.process .process_steps {
  display: flex;
  margin: auto;
  width: fit-content;
}

.process .process_step_number {
  position: relative;
  top: -30px;
}

.process .process_step_number strong {
  background: var(--green-900-color);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--white-color);
  border-radius: 50%;
  margin: auto;
}

.process .process_step_number p {
  font-size: 20px;
  font-weight: 700;
  color: var(--gold-100-color);
  text-align: center;
  margin-top: 25px;
  margin-bottom: 45px;
}

.company {
  padding-top: 147px;
  position: relative;
}

.company h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--green-100-color);
}

.company .company_description {
  font-size: 15px;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 35px;
  color: var(--gray-color);
}

.company .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 175px;
  height: 41px;
  display: block;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid var(--prefooter-background);
  color: var(--prefooter-background);
}

.company .company_image {
  position: absolute;
  top: 100px;
  right: 0;
}

.sustainability {
  position: relative;
  background: url('../img/bg_sustainability.svg') no-repeat;
  background-position: top 40px left;
  padding-top: 275px;
}

.sustainability h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--green-100-color);
}

.sustainability p {
  margin-top: 15px;
  margin-bottom: 30px;
}

.sustainability_image {
  position: absolute;
  top: 260px;
  left: 0;
}

.sustainability_image .logo_infinite {
  position: absolute;
  right: -32px;
  top: -38px;
  animation: rotate 15s infinite linear;
}

.interest {
  background: url(../img/bginteres.jpg) no-repeat;
  background-size: cover;
  margin-top: 154px;
  margin-bottom: 140px;
  min-height: 267px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 90px;
}

.interest p {
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  margin-bottom: 20px;
}

.interest .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 140px;
  margin: auto;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--white-color);
  background: var(--gold-color);
  border-radius: 30px;
  font-weight: 600;
}

.sectors {
  padding-top: 102px;
  padding-bottom: 95px;
  background: var(--gray-100-color);
  text-align: center;
}

.sectors h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--green-100-color);
}

.sectors p {
  margin-top: 10px;
  margin-bottom: 25px;
}

.sectors .sectors_title {
  font-size: 15px;
  font-weight: 700;
  color: var(--green-900-color);
  margin-top: 15px;
}

.other_services {
  background: url('../img/bg_otros_servicios.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 640px;
  text-align: center;
  padding-top: 120px;
}

.other_services h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--white-color);
}

.other_services p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--white-color);
}

.other_services .other_service {
  position: relative;
}

.other_services .other_service h5 {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 35px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
}

.location {
  position: relative;
  padding-top: 83px;
  padding-bottom: 90px;
}

.location .maps {
  width: 56.5%;
  height: 636px;
  position: absolute;
  left: 0;
  top: 0;
}

.location .maps iframe {
  width: 100%;
  height: 100%;
}

.location h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--green-100-color);
}

.location p {
  margin-top: 10px;
  margin-bottom: 25px;
}

.location .location_title {
  margin-top: 17px;
  margin-bottom: 16px;
}

.location .location_pin {
  margin-top: 22px;
}

.location .location_address {
  margin-top: 5px;
  margin-bottom: 20px;
}

.location .location_phone {
  font-size: 20px;
  font-weight: 700;
  color: var(--prefooter-background);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.location .location_phone i {
  font-size: 13px;
  color: var(--gold-100-color);
}

.location .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 140px;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--white-color);
  background: var(--green-900-color);
  border-radius: 30px;
  font-weight: 600;
  margin-top: 50px;
}

.hero_contacto {
  background: var(--gray-100-color);
  text-align: center;
  padding-top: 80px;
}

.hero_contacto h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--prefooter-background);
}

.hero_contacto p {
  font-size: 20px;
  color: var(--gray-color);
  margin-top: 7px;
  margin-bottom: 35px;
}

.hero_contacto .select {
  width: 225px;
  cursor: pointer;
  background-color: var(--green-900-color);
  border: none;
  font-size: 15px;
  border-radius: 30px;
  margin: 0 auto 35px;
  position: relative;
  display: flex;
  align-items: center;
}

.hero_contacto .select .fi {
  width: 3.333333em;
  line-height: 1.4em;
  left: 9px;
}

.hero_contacto .select select {
  color: var(--white-color);
  background: transparent;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  line-height: 1;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  z-index: 1;
  position: relative;
}

.hero_contacto .select select:focus-visible {
  outline: none;
}

.hero_contacto .select:before {
  right: 15px;
  position: absolute;
  transform: translateY(-40%);
  content: "\f107";
  font-size: 15px !important;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: var(--white-color);
  top: 50%;
}

.hero_contacto .phones {
  font-size: 20px;
  font-weight: 700;
  color: var(--prefooter-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero_contacto .phones i {
  font-size: 13px;
  color: var(--gold-100-color);
}

.form_contacto {
  background: var(--gray-100-color);
  position: relative;
  padding-top: 60px;
  min-height: 630px;
}

.form_contacto .form_image {
  width: 50%;
  position: absolute;
  left: 0;
  top: 30px;
}

.form_contacto input,
.form_contacto select {
  width: 100%;
  color: var(--gray-color);
  border: none;
  border-bottom: 1px solid var(--prefooter-background);
  background: transparent;
  font-size: 0.85rem;
  padding: 11px 3px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form_contacto .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 85px;
  margin: auto;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--white-color);
  background: var(--gold-color);
  border-radius: 30px;
  font-weight: 600;
  border: none;
}

.location_contacto {
  padding-top: 85px;
  padding-bottom: 80px;
}

.location_contacto h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--prefooter-background);
  display: flex;
  align-items: center;
  gap: 7px;
}

.location_contacto p {
  margin-top: 7px;
  margin-bottom: 35px;
}

.location_contacto .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 164px;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--green-900-color);
  border: 1px solid var(--green-900-color);
  border-radius: 30px;
  font-weight: 600;
  margin-top: -17px;
}

.location_contacto .maps {
  height: 600px;
}

.location_contacto .maps iframe {
  width: 100%;
  height: 100%;
}

.hero_products_detail {
  height: 310px;
  background: url('../img/bg-interna.png') no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_products_detail h1 {
  font-size: 45px;
  font-weight: bold;
  color: var(--white-color);
}

.hero_products_detail p {
  font-size: 18px;
  color: var(--white-color);
  padding-top: 8px;
  border-top: 1px solid var(--white-color);
  max-width: 596px;
  margin: auto;
}

.aleman_experience {
  padding-top: 85px;
  padding-bottom: 65px;
  text-align: center;
}

.aleman_experience .icon {
  margin-bottom: 20px;
}

.aleman_experience h2 {
  color: var(--green-100-color);
  font-size: 25px;
  font-weight: 700;
}

.aleman_experience p {
  margin-bottom: 20px;
  margin-top: 25px;
}

.aleman_experience .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 126px;
  height: 41px;
  display: block;
  text-decoration: none;
  background: var(--green-900-color);
  border-radius: 30px;
  color: var(--white-color);
  margin: 35px auto;
  font-weight: 600;
}

.benefits_detail {
  background: var(--gray-100-color);
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
}

.benefits_detail .benefits_detail_image {
  position: absolute;
  right: 0;
  top: 0;
}

.benefits_detail h2 {
  color: var(--green-100-color);
  font-size: 25px;
  font-weight: 700;
}

.paila_caracteristicas ul,
.benefits_detail ul {
  font-size: 16px;
  color: var(--prefooter-background);
  font-weight: 600;
  list-style: url(../img/icon-list.svg);
  margin-top: 25px;
  padding-left: 25px;
  line-height: 2.25;
}

.acero_galvanizado {
  padding-top: 95px;
  padding-bottom: 70px;
  text-align: center;
}

.acero_galvanizado h2 {
  color: var(--green-100-color);
  font-size: 25px;
  font-weight: 700;
}

.acero_galvanizado p {
  margin-bottom: 27px;
  margin-top: 15px;
}

.acero_galvanizado .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 236px;
  height: 41px;
  display: block;
  text-decoration: none;
  background: var(--green-900-color);
  border-radius: 30px;
  color: var(--white-color);
  margin: 35px auto;
  font-weight: 600;
}

.application_materials {
  padding-bottom: 70px;
  padding-top: 70px;
  background: var(--gray-100-color);
  border-radius: 25px;
  text-align: center;
}

.application_materials h2 {
  color: var(--green-100-color);
  font-size: 25px;
  font-weight: 700;
}

.application_materials p {
  margin-bottom: 10px;
  margin-top: 22px;
}

.slide {
  padding-top: 80px;
  padding-bottom: 120px;
}

.slide .slick-slide {
  padding: 20px;
}

.requirements {
  background: var(--prefooter-background) url('../img/bg_requirements.png') no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 65px;
  min-height: 515px;
}

.requirements h2 {
  color: var(--white-color);
  font-size: 25px;
  font-weight: 700;
}

.requirements p {
  margin-bottom: 20px;
  color: var(--white-color);
}

.requirements a {
  background: var(--white-color);
  display: flex;
  border-radius: 5px;
  padding: 13px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--prefooter-background);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s ease;
}

.requirements a:hover {
  background: var(--postfooter-background);
  color: var(--white-color);
}

.requirements a span {
  .requirements a span img {
    margin-right: 15px;
  }
}

.requirements_image {
  position: absolute;
  top: 0;
  left: 0;
}

.entrega_express {
  padding-top: 102px;
  text-align: center;
}

.entrega_express h2 {
  color: var(--prefooter-background);
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.entrega_express p {
  margin-bottom: 10px;
  margin-top: 20px;
}

.aviso_de_privacidad {
  padding-top: 77px;
  padding-bottom: 67px;
}

.aviso_de_privacidad h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--prefooter-background);
  text-align: center;
  margin-bottom: 78px;
}

.aviso_de_privacidad h4 {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 700;
  margin-top: 25px;
}

.aviso_de_privacidad ul {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: var(--gray-color);
}

.aviso_de_privacidad a {
  text-decoration: none;
}

.gracias {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gracias .details,
.gracias .image {
  flex: 1;
}

.gracias .details {
  padding: 97px 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.gracias .gracias_logo {
  margin-bottom: 78px;
}

.gracias .gracias_title {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--prefooter-background);
}

.gracias .gracias_description {
  margin-bottom: 35px;
  font-size: 20px;
  color: var(--gray-color);
  line-height: 1.4;
}

.gracias .bg_detail {
  position: absolute;
  left: 0px;
  bottom: -335px;
  z-index: -1;
}

.gracias .btn {
  font-size: 14px;
  padding: 11px 16px;
  width: 118px;
  height: 41px;
  display: block;
  text-decoration: none;
  color: var(--white-color);
  background: var(--gold-color);
  border-radius: 30px;
  font-weight: 600;
}

.gracias .buttons {
  display: flex;
  gap: 15px;
}

.gracias .buttons .btn:last-child {
  background: var(--prefooter-background);
  width: 140px;
}

.img_footer {
  max-height: 96px;
}

.filosofia_intro {
  margin-top: 80px;
  position: relative;
}

.slider_filosofia {
  position: absolute;
  bottom: -150px;
  right: -190px;
  width: 55%;
}

.slider_filosofia h5 {
  font-size: 15px;
  font-weight: 700;
  color: var(--green-900-color);
  margin-top: 15px;
  text-align: center;
}

.industrias_filosofia {
  margin-top: 155px;
}

.industrias_filosofia h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #838E99;
}

.galvanizar {
  background: var(--prefooter-background);
  margin-top: 260px;
  padding-top: 85px;
  padding-bottom: 85px;
}

.galvanizar p {
  color: var(--white-color);
  margin-bottom: 20px;
}

.galvanizar .paila_details {
  display: flex;
  gap: 20px;
  align-items: center;
}

.galvanizar .paila_details h4 {
  color: var(--gold-100-color);
  font-size: 22px;
  font-weight: 700;
}

.galvanizar .paila_details p {
  margin: 0;
}

.galvanizar .paila_img {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.paila_caracteristicas {
  margin-top: 85px;
  margin-bottom: 90px;
}

.paila_caracteristicas img {
  max-width: 90%;

}

.paila_caracteristicas ul {
  line-height: 1.9
}

.paila_caracteristicas ul li {
  margin-bottom: 20px;
}

.button_group {
  margin-top: 75px;
}

.button_link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 26px;
  border: 1px solid #1e1e1e;
  text-align: center;
  color: #1e1e1e;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  transition: all ease 0.5s;
}

.button_link i {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.button_link:hover {
  background: var(--gold-100-color);
  border-color: var(--gold-100-color);
}

.nuestros_servicios {
  background: var(--prefooter-background);
  padding-top: 85px;
  padding-bottom: 220px;
  text-align: center;
}

.nuestros_servicios h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: var(--gold-100-color);
  margin-bottom: 40px;
}

@media (min-width: 980px) and (max-width: 1299px) {

  html {
    width: 100%;
    overflow-x: hidden;
  }

  .benefits .benefits_description br,
  .paila .paila_description br,
  .process .process_description br,
  .application_materials br {
    display: none;
  }

  .paila .paila_details h4 {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .paila_img {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .company .company_image {
    top: 160px;
    width: 65%;
  }


  .sustainability_image {
    left: -70px;
    top: 310px;
  }

  .interest {
    min-height: 200px;
    width: 100%;
    padding-top: 30px;

  }

  .benefits_detail .benefits_detail_image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .application_materials {
    padding: 30px 20px;
  }

  .requirements .requirements_image {
    width: 55%;
    top: 10%;
  }

  .requirements .requirements_image img {
    max-width: 100%;
    height: auto;
  }

  .form_contacto .form_image img {
    max-width: 100%;
    height: auto;
  }

  .gracias .details {
    padding: 80px 0;
  }

}

@media (min-width: 768px) and (max-width: 979px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    position: fixed !important;
  }

  header .information {
    text-align: right;
  }

  header .phones a:nth-child(2) {
    margin-right: 0px;

  }

  header .phones a:nth-child(3) {
    display: block;
  }

  .hero {
    height: 600px;
  }

  .hero_description h1 {
    font-size: 40px;
  }

  .services {
    height: 155px;
  }

  .services .service a {
    padding: 25px;
  }

  .benefits .benefits_description br,
  .paila .paila_description br,
  .process .process_description br {
    display: none;
  }

  .paila .paila_description {
    font-size: 15px;
    margin-top: 0;
  }

  .paila .paila_details h4 {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .paila .paila_img {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .process {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

  }

  .process .btn {
    margin: auto;
  }

  .process .process_step_number p {
    font-size: 15px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .company {
    padding-top: 80px;
  }

  .company h4 {
    font-size: 25px;
  }

  .company .company_description {
    font-size: 14px;
    line-height: 1.5;
  }

  .company .btn {
    margin: auto;
  }

  .company .company_image {
    top: 50px;
    right: -50%;
  }

  .sustainability {
    padding-top: 145px;

  }

  .sustainability h4 {
    font-size: 22px;
  }

  .sustainability_image {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 80px;
  }

  .sustainability_image .logo_infinite {
    position: absolute;
    right: 50%;
    margin-right: -75px;
    top: -108px;
    animation: rotate 15s infinite linear;
  }

  .sustainability_image .logo_infinite:nth-child(2) {
    display: none;
  }

  .interest {
    min-height: 146px;
    width: 100%;
    padding-top: 30px;
  }

  .interest p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .other_services {
    height: auto;
    padding-bottom: 70px;
  }

  .other_services .other_service {
    margin-bottom: 20px;
  }

  .other_services .other_service img {
    max-width: 100%;
    height: auto;
  }

  .location {
    padding-bottom: 37px;
    height: auto;
  }

  .location .maps {
    width: 55%;
  }

  footer .postfooter p {
    line-height: 1.5 !important;
  }

  .hero_products_detail,
  .hero_contacto,
  .aviso_de_privacidad {
    margin-top: 90px;
  }

  .hero_products_detail p {
    border-top: none;
  }

  .benefits_detail .benefits_detail_image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .benefits_detail ul {
    line-height: 1.7;
  }

  .benefits_detail ul li {
    margin-bottom: 10px;
  }

  .application_materials {
    padding: 30px 20px;
  }

  .application_materials br {
    display: none;
  }

  .requirements .requirements_image {
    width: 50%;
    top: 20%;
  }

  .requirements .requirements_image img {
    max-width: 100%;
    height: auto;
  }

  .form_contacto {
    padding-bottom: 100px;
    padding-top: 50px;
    min-height: auto;
  }

  .form_contacto .form_image {
    top: 75px;
  }

  .form_contacto .form_image img {
    max-width: 100%;
    height: auto;
  }

  .gracias .details {
    padding: 40px 0;
  }

  .gracias .gracias_logo {
    margin-bottom: 38px;
  }

  .gracias .gracias_title {
    font-size: 25px;
  }

  .gracias .gracias_description {
    font-size: 16px;
  }

  .slider_filosofia {
    position: relative;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .slider_filosofia img {
    margin: auto;
  }

  .industrias_filosofia {
    margin-top: 20px;
  }

  .galvanizar {
    margin-top: 60px;
  }

  .galvanizar .paila_details {
    margin-bottom: 50px;
  }

  .paila_caracteristicas ul {
    margin-top: 0;
    line-height: 1.4;
  }

  .paila_caracteristicas ul li {
    margin-bottom: 10px;
  }

  .md-flex {
    display: flex;
    align-items: center;
  }

  .button_group {
    margin-top: 25px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    padding-bottom: 60px;
  }

  header {
    position: fixed !important;
    padding: 0;
  }

  header .navbar ul {
    justify-content: center;
    margin-top: 25px;
  }

  header .logo_mobil {
    height: 42px;
    margin-top: 10px;
  }

  header .logo {
    margin-bottom: 10px;
    width: auto;
    height: auto;
    float: right;
  }

  header .information {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: var(--postfooter-background);
    float: none;
    padding: 10px;
    gap: 10px;
  }

  .phones:nth-child(2) {
    margin-right: 5px;
  }

  .whatsapp {
    top: 85px;
    right: 15px;
  }

  .whatsapp img {
    width: 48px;
    height: 48px;
  }

  .hero {
    height: 500px;
  }

  .hero_description p {
    font-size: 14px;
  }

  .hero_description h1 {
    font-size: 23px;
  }

  .services {
    display: none;
    height: 57px;
    bottom: -26px;
  }

  .services .service a {
    padding: 15px;
    text-align: center;
  }

  .services .service .service_title,
  .process .process_description br,
  .application_materials br {
    display: none;
  }

  .benefits {
    padding-top: 80px;
  }

  .benefits h3 {
    font-size: 22px;
  }

  .process {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;

  }

  .process .btn {
    margin: auto;
  }

  .process .process_step_number p {
    font-size: 12px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .company {
    padding-top: 80px;
    text-align: center;
  }

  .company h4 {
    font-size: 22px;
  }

  .company .company_description {
    font-size: 14px;
    line-height: 1.4;
  }

  .company .btn {
    margin: auto;
  }

  .company .company_image {
    position: unset;
    top: auto;
    right: auto;
    margin-top: 40px;
  }

  .sustainability {
    padding-top: 145px;
  }

  .sustainability h4 {
    font-size: 22px;
  }

  .sustainability_image {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 80px;
  }

  .sustainability_image .logo_infinite {
    position: absolute;
    right: 0;
    top: -38px;
    animation: rotate 15s infinite linear;
  }

  .interest {
    background: var(--prefooter-background);
    min-height: 267px;
    width: 96%;
    margin: 100px auto 40px;
    padding-top: 90px;
    position: relative;
  }

  .interest :before {
    height: 155px;
    position: absolute;
    top: -70px;
    left: 50%;
    width: 240px;
    margin-left: -120px;
    background: url(../img/viga.png) no-repeat;
    background-size: cover;
    content: ' ';
  }

  .interest p {
    font-size: 15px;
  }

  .sectors .sectors_title {
    margin-bottom: 40px;
  }

  .other_services {
    height: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .other_services h4 {
    font-size: 22px;
  }

  .other_services .other_service {
    margin-bottom: 20px;
  }

  .other_services .other_service img {
    max-width: 100%;
    height: auto;
  }

  .location {
    padding-top: 450px;
  }

  .location .maps {
    width: 100%;
    height: 400px;
  }

  .location h4 {
    font-size: 22px;
  }

  .location .location_phone {
    font-size: 16px;
  }

  .img_footer {
    float: none !important;
    display: block;
    margin: auto;
  }


  footer .prefooter {
    text-align: center;

  }

  footer .prefooter .downloads {
    justify-content: center;
  }

  footer .postfooter {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  footer .logo {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  footer .information_footer {
    justify-content: center;
  }

  .hero_products_detail {
    height: 310px;
    margin-top: 72px;
  }

  .hero_products_detail h1 {
    font-size: 25px;
  }

  .hero_products_detail p {
    font-size: 14px;
    border-top: none;
  }

  .benefits_detail {
    padding-bottom: 0;
  }

  .benefits_detail .benefits_detail_image {
    position: unset;
    right: auto;
    top: auto;
    width: 100%;
  }

  .benefits_detail h2 {
    font-size: 22px;
  }

  .benefits_detail ul {
    font-size: 14px;
  }

  .requirements {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .requirements h2 {
    font-size: 22px;
  }

  .requirements .requirements_image {
    position: unset;
    top: auto;
    left: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .hero_contacto {
    padding-top: 150px;
  }

  .hero_contacto h1 {
    font-size: 35px;
  }

  .hero_contacto p {
    font-size: 16px;
  }

  .form_contacto {
    padding-bottom: 50px;
  }

  .form_contacto .form_image {
    width: 100%;
    position: unset;
    left: auto;
    top: auto;
    margin-bottom: 50px;
  }

  .location_contacto {
    padding-bottom: 0;
  }

  .location_contacto h3 {
    font-size: 22px;
  }

  .location_contacto .maps {
    height: 400px;
  }

  .location_contacto .maps iframe {
    width: 100%;
    height: 100%;
  }

  .location_contacto .btn {
    margin: 0 auto 40px;
    float: none !important;
  }

  .aviso_de_privacidad {
    padding-top: 130px;
  }

  .aviso_de_privacidad h1 {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .aviso_de_privacidad h4 {
    font-size: 14px;
  }

  .aviso_de_privacidad ul {
    font-size: 14px;
  }

  .gracias {
    display: block;
  }

  .gracias .details {
    padding: 40px 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
  }

  .gracias .gracias_logo {
    margin-bottom: 38px;
  }

  .gracias .gracias_logo img {
    height: 80px;
  }

  .gracias .gracias_title {
    font-size: 25px;
  }

  .gracias .gracias_description {
    font-size: 14px;
  }

  .gracias .bg_detail {
    position: absolute;
    left: 0px;
    bottom: -335px;
    z-index: -1;
  }


  .gracias .buttons {
    display: flex;
    gap: 15px;
  }

  .gracias .buttons .btn:last-child {
    background: var(--prefooter-background);
    width: 140px;
  }

  .slider_filosofia {
    position: relative;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .slider_filosofia img {
    margin: auto;
  }

  .industrias_filosofia {
    margin-top: 40px;
  }

  .galvanizar {
    margin-top: 60px;
  }

  .galvanizar .paila_details {
    justify-content: center;
    margin-bottom: 50px;
  }

  .paila_caracteristicas img {
    max-width: 100%;
  }

  .button_link,
  .nuestros_servicios img {
    margin-bottom: 35px;
  }

}