.align-items-center {
  align-items: center !important;
}

.float-end {
  float: right !important;
}

.clear {
  clear: both;
  display: block;
}

.text-center {
  text-align: center;
}

.mt-35 {
  margin-top: 35px !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.error {
  background: #f66 !important;
  color: #fff !important
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes ping {

  75%,
  to {
    transform: scale(2);
    opacity: 0
  }
}