.align-items-center {
  align-items: center !important;
}

.float-end {
  float: right !important;
}

.clear {
  clear: both;
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mt-35 {
  margin-top: 35px !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.error {
  background: #f66 !important;
  color: #fff !important
}

.bg-white {
  background: #fff;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes ping {

  75%,
  to {
    transform: scale(2);
    opacity: 0
  }
}

@keyframes bouncing {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}